<section id="footer">
    <div class="container_1">
        <nav id="nav">
            <ul class="icons">
                <li class="icon solid fa-envelope"><a href="Mailto: booking@o365.fcu.edu.tw">
                        booking@o365.fcu.edu.tw</a>
                <li class="icon solid fa-phone">(000) 000-0000</li>
                <li class="icon brands fa-instagram">
                    <a href="https://instagram.com/tiao.tea?utm_medium=copy_link">書贏哀居</a>
                </li>
                <li class="icon brands fa-facebook-f"><a
                    href="https://www.facebook.com/%E5%B0%B1%E6%98%AF%E8%A6%81%E6%8C%91tea-110993528130018/?ref=pages_you_manage">書贏臉書</a></li>
                <li class="icon brands fa-twitter"><a href="#">書贏推特</a></li>
                <li class="icon brands fa-dribbble"><a href="/home">書贏首頁</a></li>
                <li class="icon solid fa-home">台中市西屯區文華路100號</li>
            </ul>
        </nav>
    </div>
</section>