<!-- Sidebar -->
<div id="sidebar" class="col-4 col-12-medium">

    <section>
        <ul class="divided">
            <li>
                <!-- Excerpt -->
                <article class="box excerpt">
                    <div class="display-flex">
                        <img src="../static/images/coin.png" style="width:80px;height:80px;" alt="錢包"><a>&nbsp&nbsp&nbsp</a>
                        
                        <div class="box excerpt" id="bookcoin">
                            <br><p>&nbsp&nbsp&nbsp&nbsp目前擁有 &nbsp&nbsp&nbsp<strong><%=bookcoin%></strong>&nbsp&nbsp&nbspbook幣</p>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <!-- Excerpt -->
                    <article class="box excerpt">
                        <a href="/member/punch" >
                        <div class="display-flex">
                            <img src="../static/images/sign.png" href="/member/punch" style="width:80px;height:80px;" alt="錢包">
                           <a>&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                            <div>
                                <br><a href="/member/punch" class="button-1 style2 large" style="width:150px;height:50px;font-size:13px;">點擊簽到</a>
                            </div>
                        </div>
                    </a>        
                    </article>
                </li>
                <li>
                    <!-- Excerpt -->
                        <article class="box excerpt">
                            <a href="/order" >
                                <div class="display-flex">
                                    <img src="../static/images/list.png" href="/order" style="width:80px;height:80px;" alt="我的訂單">
                                    <div href="/order">
                                        <br><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我的訂單</p>
                                    </div>
                                </div>
                            </a>  
                        </article>
                </li>
                <li>
                    <!-- Excerpt -->
                        <article class="box excerpt">
                            <a href="/collect" >
                                <div class="display-flex">
                                    <img src="../static/images/change.png" href="/order" style="width:80px;height:80px;" alt="交換書功能">
                                    <div href="/order">
                                        <br><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp交換書功能</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                </li>
                
                <li>
                    <!-- Excerpt -->
                        <article class="box excerpt">
                            <a href="/rebook" >
                                <div class="display-flex">
                                    <img src="../static/images/wish.png" href="/rebook" style="width:80px;height:80px;" alt="回收書功能">
                                    <div href="/rebook">
                                        <br><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp回收書功能</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                </li>
                <li>
                    <!-- Excerpt -->
                        <article class="box excerpt">
                            <a href="/wishlist" >
                                <div class="display-flex">
                                    <img src="../static/images/recycle.png" href="/wishlist" style="width:80px;height:80px;" alt="許願功能">
                                    <div href="/wishlist">
                                        <br><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp許願功能</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                </li>
                

                
                