<!-- Sidebar -->
<div id="sidebar" class="col-4 col-12-medium">

    <section>
        <ul class="divided">
            <li>
                <!-- Excerpt -->
                <article class="box excerpt">
                    <div class="display-flex">
                        <img src="../static/images/coin.png" style="width:80px;height:80px;" alt="錢包"><a>&nbsp&nbsp&nbsp</a>
                        
                        <div class="box excerpt" id="bookcoin">
                            <br><p>&nbsp&nbsp&nbsp&nbsp目前擁有 &nbsp&nbsp&nbsp<strong><%=bookcoin%></strong>&nbsp&nbsp&nbspbook幣</p>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <!-- Excerpt -->
                    <article class="box excerpt">
                        <a href="/member/punch" >
                        <div class="display-flex">
                                    <img src="../static/images/sign.png" href="/member/punch" style="width:80px;height:80px;" alt="錢包">
                                    <div href="/member/punch">
                                        <br><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp點擊簽到</p>
                                    </div>
                        </div>
                    </a>    

                                
                    </article>
                </li>
            
               
                <li>
                    <!-- Excerpt -->
                        <article class="box excerpt">
                            <header>
                                <h3><a href="/order" class="date" style="width:120px;height:40px;text-align: center;">我的訂單</a></h3>
                                <h3><a href="/order">查看我的訂單狀態</a></h3>
                            </header>
                        </article>
                </li>
                <li>
                    <!-- Excerpt -->
                        <article class="box excerpt">
                            <header>
                                <h3><a href="/collect" class="date"  style="width:120px;height:40px;font-size:12px;text-align: center;">交換書功能</a></h3>
                                <h3><a href="/chbook">讓您與書友友進一步交流</a></h3>
                            </header>
                        </article>
                </li>
                
                <li>
                    <!-- Excerpt -->
                        <article class="box excerpt">
                            <header>
                                <h3><a href="/rebook" class="date"  style="width:120px;height:40px;font-size:12px;text-align: center;">回收書功能</a></h3>
                                <h3><a href="/rebook">讓書呈現善的循環</a></h3>
                            </header>
                        </article>
                </li>
                <li>
                    <!-- Excerpt -->
                        <article class="box excerpt">
                            <header>
                                <h3><a href="/wishlist" class="date"  style="width:120px;height:40px;text-align: center;">許願功能</a></h3>

                                <h3><a href="/wishlist">許下你想購買的書</a></h3>
                            </header>
                        </article>
                </li>
                

                
                