<section id="header">
    <div class="container">

        <!-- Logo -->
        <h1><a href="../home/home.html" id="logo">書贏●首頁</a></h1>
        <p>一個提供多樣化功能的二手書交易平台 讓您能使用後意猶未盡</p>
        <form action="/search" method="POST">
            <p>
            <div class="container" id="search">
                <input type="text" id="search" placeholder="搜尋您想要的商品">
            </div>
            <div class="container" id="searchbottom">
                <a href="#" class="button style1 col-10-small">搜尋</a>
            </div>
            </p>
        </form>

        <nav id="nav">
            <ul>
                <li><a class="icon solid fa-home" href="../home/home.html"><span>首頁</span></a></li>
                <li>
                    <a href="#" class="icon fa-chart-bar"><span>分類</span></a>
                    <ul>
                        <li>
                            <a href="#">書籍</a>
                            <ul>
                                <li><a href="../classification/classification.html">學習</a></li>
                                <li><a href="../classification/classification.html">漫畫</a></li>
                                <li><a href="../classification/classification.html">小說</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">雜誌</a>
                            <ul>
                                <li><a href="../classification/classification.html">學習</a></li>
                                <li><a href="../classification/classification.html">時尚</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="icon solid fa-cog" href="../member/member.html"><span>會員頁面</span></a></li>
                <li><a class="icon solid fa-retweet" href="../login/login.html"><span>登入/註冊</span></a></li>
                <li><a class="icon solid fa-sitemap" href="../cart/cart.html"><span>購物車</span></a></li>

            </ul>
        </nav>

    </div>
</section>