<!-- Nav -->
<p><a href="/member/logout">登出帳號</a></p>
<nav id="nav">
    <ul>
        <li><a class="icon solid fa-home" href="/home"><span>首頁</span></a></li>
        <li><a class="icon solid fa-cog" href="/merchant/chbook"><span>交換書</span></a></li>
        <li><a class="icon solid fa-retweet" href="/merchant/rebook"><span>回收書</span></a></li>
        <li><a class="icon solid fa-sitemap" href="/merchant/order"><span>訂單確認</span></a></li>
        <li><a class="icon fa-chart-bar" href="/merchant/upload"><span>上架商品</span></a></li>
        </ul>
    </nav>

</div>
</section>