<!-- Nav -->
<p><a href="/member/logout">登出帳號</a></p>
<nav id="nav">
    <ul>
        <li><a href="/merchant/chbook"><img src="../static/images/change.png" style="width:20px;height:20px;" alt="分類">&nbsp&nbsp&nbsp<span>交換書</span></a></li>
        <li><a href="/merchamt/wish"><img src="../static/images/wish.png" style="width:20px;height:20px;" alt="vm3m04">&nbsp&nbsp&nbsp<span>許願</span></a></li>
        <li><a href="/merchant/rebook"><img src="../static/images/recycle.png" style="width:20px;height:20px;" alt="分類">&nbsp&nbsp&nbsp<span>回收書</span></a></li>
        <li><a href="/merchant/order"><img src="../static/images/list.png" style="width:20px;height:20px;" alt="特色功能">&nbsp&nbsp&nbsp<span>訂單確認</span></a></li>
        <li><a href="/merchant/upload"><img src="../static/images/cloud.png" style="width:20px;height:20px;" alt="會員頁面">&nbsp&nbsp&nbsp<span>上架商品</span></a></li>
    </ul>

</div>
</section>