<!DOCTYPE HTML>
<html>
	<head>
		<title>書贏●購物車</title>
		<%- include('./partials/header.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">
				<div class="container">
					
			<!-- Logo -->
				<h1 id="logo"><a href="../cart/cart.html">書贏●購物車</a></h1>
					<%- include('./partials/nav.ejs') %>
					<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="col-4 col-12-medium">

										<section>
											<ul class="divided">
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="../cart/cart.html">我的購物車</span>
																<h3><a href="../cart/cart.html">快來把商品帶回家</a></h3>
															</header>
														</article>

												</li>

												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="../collect/collect.html">我的收藏</span>
																<h3><a href="../collect/collect.html">快來把收藏加入購物車</a></h3>
															</header>
														</article>

												</li>

												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date" href="../order/order.html">我的訂單</span>
																<h3><a href="../order/order.html">查看我的訂單</a></h3>
															</header>
														</article>

												</li>
												
										</section>
								</div>
							<!-- Content -->
								<div id="content" class="col-8 col-12-medium imp-medium">
									<!-- Post -->
										<article class="box post">
											
											<table>
												<% for(var i=0; i < 5; i++) { %>
													<div class="col-8 col-12-medium imp-medium" id="name">
														<header><h3><a href="../product/product.html">留名日記</a></h3></header>
													</div>
													<a href="../product/product.html" class="image left"><img src="../static/images/pic10.jpg" alt=""></a>
													<div class="col-8 col-12-medium imp-medium" id="booknum"><p>書籍編號：5155456</p></div>
													<div class="col-8 col-12-medium imp-medium" id="writer"><p>作者：劉銘</p></div>
													<div class="col-8 col-12-medium imp-medium" id="money"><p>價錢：666</p></div>
													<ul class="actions">
														<li>
															<div class="display-flex">
																<div id="addcollect" class="col-8 col-12-medium imp-medium">
																	<a href="../collect/collect.html" class="button style1 large">加入收藏</a>
																</div>
																<div id="outcart" class="col-8 col-12-medium imp-medium">
																	<a href="#" class="button style2 large">移除購物車</a>
																</div>
															</div>
														</li>
													</ul>
												<% } %>
												</table>
											
										</article>
										<h1>--------------------------------------------------------------------------------------------</h1>
										<div class="col-12-medium col-24-small" id="money">
											<h1><p>總共<strong>666</strong>元</p></h1>
										</div>
										<div class="col-8 col-24-small" id="checkout">
											<a href="../checkout/checkout.html" class="button style2 large">結帳</a>
										</div>
										
										

								</div>
								
								</article>
						</div>
					</div>
				</section>
			<!-- Footer -->
			<%- include('./partials/footer.ejs') %>

		</div>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>
</html>