<!DOCTYPE HTML>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<html>
	//head

	<%- include('./partials/header.ejs') %>
	
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('./partials/nav.ejs') %>
				<!-- books -->
				<section id="features">
					<header class="style1">
						<h2>商品頁面</h2>
					</header>
					<!-- books1 -->
					<h3>最新上架二手書</h3>
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">
								<section class="books">
									<a href="#" class="image featured">
										<img class="imgsrc" src="..\static\images\pic02.jpg" alt="" height="500" />
									</a>
									<h3><a href="#" class="name">商品名稱1</a></h3>
									<p class="author">作者：劉銘</p>
									<p class="price">價錢：666</p>
									<p class="bid" id="bid">書籍編號：5155456</p>

									<ul class="actions">
										<li>
											<div class="display-flex">
												<div id="addcollect" class="col-8 col-12-medium imp-medium">
													<a href="../cart/cart.html" class="button style1 large">加入收藏</a>
												</div>
												<div id="addcart" class="col-8 col-12-medium imp-medium">
													<a href="#" class="button style2 large">加入購物車</a>
												</div>
											</div>
										</li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="books">
									<a href="#" class="image featured">
										<img class="imgsrc" src="..\static\images\pic02.jpg" height="500" alt="" />
									</a>
									<h3><a href="#" class="name">商品名稱1</a></h3>
									<p class="author">作者：劉銘</p>
									<p class="price">價錢：666</p>
									<p class="bid" id="bid">書籍編號：5155456</p>

									<ul class="actions">
										<li>
											<div class="display-flex">
												<div id="addcollect" class="col-8 col-12-medium imp-medium">
													<a href="../cart/cart.html" class="button style1 large">加入收藏</a>
												</div>
												<div id="addcart" class="col-8 col-12-medium imp-medium">
													<a href="#" class="button style2 large">加入購物車</a>
												</div>
											</div>
										</li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="books">
									<a href="#" class="image featured">
										<img class="imgsrc" src="..\static\images\pic02.jpg" height="500" alt="" />
									</a>
									<h3><a href="#" class="name">商品名稱1</a></h3>
									<p class="author">作者：劉銘</p>
									<p class="price">價錢：666</p>
									<p class="bid" id="bid">書籍編號：5155456</p>

									<ul class="actions">
										<li>
											<div class="display-flex">
												<div id="addcollect" class="col-8 col-12-medium imp-medium">
													<a href="../cart/cart.html" class="button style1 large">加入收藏</a>
												</div>
												<div id="addcart" class="col-8 col-12-medium imp-medium">
													<a href="#" class="button style2 large">加入購物車</a>
												</div>
											</div>
										</li>
									</ul>
								</section>
							</div>
						</div>

						<!-- books2 -->
						<p> </p>
						<h3>熱門商品</h3>
						<div class="container">
							<div class="row aln-center">
								<div class="col-4 col-12-medium">
									<section class="books">
										<a href="#" class="image featured">
											<img class="imgsrc" src="..\static\images\pic02.jpg" height="500" alt="" />
										</a>
										<h3><a href="#" class="name">商品名稱1</a></h3>
										<p class="author">作者：劉銘</p>
										<p class="price">價錢：666</p>
										<p class="bid" id="bid">書籍編號：5155456</p>

										<ul class="actions">
											<li>
												<div class="display-flex">
													<div id="addcollect" class="col-8 col-12-medium imp-medium">
														<a href="../cart/cart.html" class="button style1 large">加入收藏</a>
													</div>
													<div id="addcart" class="col-8 col-12-medium imp-medium">
														<a href="#" class="button style2 large">加入購物車</a>
													</div>
												</div>
											</li>
										</ul>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="books">
										<a href="#" class="image featured">
											<img class="imgsrc" src="..\static\images\pic02.jpg" height="500" alt="" />
										</a>
										<h3><a href="#" class="name">商品名稱1</a></h3>
										<p class="author">作者：劉銘</p>
										<p class="price">價錢：666</p>
										<p class="bid" id="bid">書籍編號：5155456</p>

										<ul class="actions">
											<li>
												<div class="display-flex">
													<div id="addcollect" class="col-8 col-12-medium imp-medium">
														<a href="../cart/cart.html" class="button style1 large">加入收藏</a>
													</div>
													<div id="addcart" class="col-8 col-12-medium imp-medium">
														<a href="#" class="button style2 large">加入購物車</a>
													</div>
												</div>
											</li>
										</ul>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="books">
										<a href="#" class="image featured">
											<img class="imgsrc" src="..\static\images\pic02.jpg" height="500" alt="" />
										</a>
										<h3><a href="#" class="name">商品名稱1</a></h3>
										<p class="author">作者：劉銘</p>
										<p class="price">價錢：666</p>
										<p class="bid" id="bid">書籍編號：5155456</p>

										<ul class="actions">
											<li>
												<div class="display-flex">
													<div id="addcollect" class="col-8 col-12-medium imp-medium">
														<a href="../cart/cart.html" class="button style1 large">加入收藏</a>
													</div>
													<div id="addcart" class="col-8 col-12-medium imp-medium">
														<a href="#" class="button style2 large">加入購物車</a>
													</div>
												</div>
											</li>
										</ul>
									</section>
								</div>
							</div>
				</section>


		</div>
		</section>
		<!-- Footer -->
		<%- include('./partials/footer.ejs') %>

		</div>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>

</html>