<!DOCTYPE HTML>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<html>
	<head>
		<title>書贏●商家頁面-上架</title>
		<%- include('./partials/headermerch.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
						<h1 id="logo"><a href="/merchant">書贏●商家頁面-上架商品</a></h1>
						
						<!-- Nav -->
						<%- include('./partials/navmerch.ejs') %>
				
			<!-- Post -->
			<section id="main">
				<div class="container">
			<article class="box post">
				<header>
					<h1><strong>書籍資訊：</strong></h1>
				</header>
				<div class="col-6 col-12-medium">
					<section>
						<form method="" action="POST">
							<div class="row gtr-45">
								<div class="col-6 col-12-small">
									<p>書籍名稱：<input  type="text" id="name" placeholder="商品名稱" size=5 autocomplete="on" name="name">
									</div></p>
								<div class="col-6 col-12-small">
										<p>書籍編號：<input  type="text" id="list" placeholder="商品編號" size=5 autocomplete="on" name="list">
										</div></p>
								<div class="col-6 col-12-small">
									<p>作者：<input  type="text" id="writer" placeholder="作者" size=5 autocomplete="on" name="writer">
									</div></p>
								<div class="col-6 col-12-small">
									<p>書籍價格：<input  type="text" id="howmuch" placeholder="商品價格" size=5 autocomplete="on" name="howmuch">
									</div></p>
								</div>
								<p> </p>
								<p>上傳照片：<div class="col-12">
									<form action="/somewhere/to/upload" enctype="multipart/form-data">

										<input id="img" type="file" accept="image/gif, image/jpeg, image/png" name="picture">
										
									</form>
						
									</div>
									<a href="#" class="image left"><img src="../static/images/pic13.jpg" alt=""></a>  <!-- 有上傳才出現 -->
								</p>
								
							</div>
				<ul class="actions">
					<li>
						<form action="" method="POST">
							<div class="display-flex">
								<div id="certain" class="box post">
									<a href="#" class="button style1 large">確定</a>
								</div>
								<a>&nbsp</a>
								<div id="cancel" class="box post">
									<a href="#" class="button style2 large">取消</a>
								</div>
							</div>
							
						</form>
					</li>
				</ul>
						</form>
					</section>
			</article>
			</div>
		</section>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>