<!DOCTYPE HTML>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<html>
	<head>
		<title>書贏●商家頁面</title>
		<%- include('./partials/headermerch.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
						<h1 id="logo"><a href="/merchant">書贏●商家頁面</a></h1>
						
						<%- include('./partials/navmerch.ejs') %>

				
			<!-- Features -->
				<section id="features">
					

					<div class="container">
						<input type="button" value="首頁" href="/home" style="width:150px;height:50px;">
						<input type="button" value="交換書" href="/merchant/chbook" style="width:150px;height:50px;">
						<input type="button" value="回收書" href="/merchant/chbook" style="width:150px;height:50px;">
						<input type="button" value="訂單確認" href="/merchant/order" style="width:150px;height:50px;">
						<input type="button" value="上架商品" href="/merchant/upload" style="width:150px;height:50px;">
					</div>
				</section>
				
		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>
</html>
