<!DOCTYPE HTML>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<html>
	<head>
		<title>書贏●商家頁面-訂單確認</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../model/merchant.js"></script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
						<h1 id="logo"><a href="../merchant/merchant.html">書贏●商家頁面-訂單確認</a></h1>
						
						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a class="icon solid fa-cog" href="../merchant/merchantchbook.html"><span>交換書</span></a></li>
								<li><a class="icon solid fa-retweet" href="../merchant/merchantrebook.html"><span>回收書</span></a></li>
								<li><a class="icon solid fa-sitemap" href="../merchant/mechantorder.html"><span>訂單確認</span></a></li>
								<li><a class="icon fa-chart-bar" href="../merchant/merchantupload.html"><span>上架商品</span></a></li>
								</ul>
							</nav>

					</div>
				</section>
				
			<!-- Post -->
			<article class="box post">
				<header>
					<h3>訂單細節：</h3>
				</header>
				
				<div id="pic" class="col-8 col-12-medium imp-medium">
					<a href="../product/product.html" class="image left"><img src="../static/images/pic11.jpg" alt=""></a>
				</div>
				
				<form method="" action="POST">
					<div class="row gtr-45">
						<div class="display-flex">
							<div class="col-6 col-24-small">
								<p>訂購用戶：<input  type="text" id="customer" value="liuming" size=5 autocomplete="on">
								</div></p>
								</div>
							<div class="col-6 col-24-small">
								<p>訂購書籍編號：<input  type="text" id="list" value="0001" size=5 autocomplete="on">
								</div></p>
							<div class="col-6 col-24-small">
								<p>書籍名稱：<input  type="text" id="name" value="商品名稱" size=5 autocomplete="on">
								</div></p>
							<div class="col-6 col-24-small">
								<p>書籍價格：<input  type="text" id="howmuch" value="666" size=5 autocomplete="on">
								</div></p>
							</div>
						</div>
						
						
						
					</div>
		<ul class="actions">
			<div id="enter" class="col-8 actions">
				<a href="#" class="button style1 large">確定</a>
			</div>
			<div id="cancel" class="col-8 actions">
				<a href="#" class="button style2 large">取消</a>
			</div>
			</li>
		</ul>
				</form>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>