<!DOCTYPE HTML>
<html>
	<head>
		<title>書贏●註冊</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../model/wishlist.js"></script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">
				<div class="container">
					
					<!-- Logo -->
						<h1 id="logo"><a href="../wishlist/wishlist.html">書贏●加入會員</a></h1>
						<p>一個提供多樣化功能的二手書交易平台 讓您能使用後意猶未盡</p>
						<p>    

						</p>
						

							
					

						<nav id="nav">
							<ul>
								<li><a class="icon solid fa-home" href="../home/home.html"><span>首頁</span></a></li>
								<li>
									<a href="#" class="icon fa-chart-bar"><span>分類</span></a>
									<ul>
										<li>
											<a href="#">書籍</a>
											<ul>
												<li><a href="../classification/classification.html">學習</a></li>
											<li><a href="../classification/classification.html">漫畫</a></li>
											<li><a href="../classification/classification.html">小說</a></li>
											</ul>
										</li>
										<li>
											<a href="#">雜誌</a>
											<ul>
												<li><a href="../classification/classification.html">學習</a></li>
												<li><a href="../classification/classification.html">時尚</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a class="icon solid fa-cog" href="../member/member.html"><span>會員頁面</span></a></li>
								<li><a class="icon solid fa-retweet" href="../login/login.html"><span>登入/註冊</span></a></li>
								<li><a class="icon solid fa-sitemap" href="../cart/cart.html"><span>購物車</span></a></li>
								
							</ul>
						</nav>
							
					</div>
				</section>
	
					<!-- Main -->
				<section id="main">
					<div class="container">
						<!-- Content -->
							

								<!-- Post -->
									<article class="box post">
										<header>
											<h1 style="height: 60px;"><font size=8>加入會員</font></h1>
										</header>
										<form action=" " method="POST">
											<a>姓名:</a>
											<div style="height: 60px; width: 265px;" class="box post">
												<input type="text" id="name" placeholder="姓名" size=20 autocomplete="on">
											</div>
											<a>帳號:</a>
											<div style="height: 60px; width: 265px;" class="box post">
												<input type="text" id="username" placeholder="帳號" size=20 autocomplete="on">
											</div>
											<a>密碼:</a>
											<div style="height: 60px; width: 265px;" class="box post">
												<input type="password" id="password" placeholder="密碼" size=20 autocomplete="off">
											</div>
											<a>電子信箱:</a>
											<div style="height: 60px; width: 265px;" class="box post">
												<input type="email" id="email" placeholder="信箱" size=20 autocomplete="on">
											</div>
											<a>電話號碼:</a>
											<div style="height: 60px; width: 265px;" class="box post">
												<input type="text" id="phone" placeholder="電話" size=20 autocomplete="on">
											</div>
											
											<div  class="box post" id="registerbutton">
												<input type="submit" value="註冊">
											</div>
										</form>
										
									</article>
										
							
					</div>
				</section>

							
			<!-- Footer -->
				<section id="footer">
					<div class="container_1">
						<nav id="nav">
							<ul class="icons">
								<li class="icon solid fa-envelope"><a href="Mailto: booking@o365.fcu.edu.tw"> booking@o365.fcu.edu.tw</a>
									<li class="icon solid fa-phone">(000) 000-0000</li>
									<li class="icon brands fa-dribbble"><a href="https://www.facebook.com/%E5%B0%B1%E6%98%AF%E8%A6%81%E6%8C%91tea-110993528130018/?ref=pages_you_manage">書贏哀居</a></li>
									<li class="icon brands fa-facebook-f"><a href="https://instagram.com/tiao.tea?utm_medium=copy_link">書贏臉書</a></li>
									<li class="icon brands fa-twitter"><a href="#">書贏推特</a></li>
									<li class="icon brands fa-dribbble"><a href="../home/home.html">書贏首頁</a></li>
								<li class="icon solid fa-home">1234 Somewhere Road</li>
							</ul>
						</nav>
								
							</ul>
						</div>	

						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

	</body>
</html>