<!DOCTYPE HTML>
<html>
	<head>
		<title>書贏●聯絡客服</title>
		<%- include('./partials/header.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">
				<div class="container">
					
					<!-- Logo -->
						<h1 id="logo"><a href="/service">書贏●聯絡客服</a></h1>
						<%- include('./partials/nav.ejs') %>
	
					
			<!-- Footer -->
			<%- include('./partials/footer.ejs') %>	

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>