<!DOCTYPE HTML>
<html>
	<head>
		<title>書贏●許願功能</title>
		<%- include('./partials/header.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">
				<div class="container">
					
					<!-- Logo -->
						<h1 id="logo"><a href="/wishlist">書贏●許願功能</a></h1>
						<%- include('./partials/nav.ejs') %>
			
			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">

						<%- include('./partials/mempart.ejs') %>
										</ul>
									</section>
							</div>

											<!-- Post -->
						<article class="box post">
							<div class="container_1">
								<header>
									<h1 style="height: 60px;"><font size=8>許願功能</font></h1>
								</header>
							</div>
							<header>
								<h2><strong>書籍資訊：</strong></h2>
							</header>
							<div class="col-6 col-12-medium">
								<section>
									<form method="" action="POST">
										<div class="row gtr-45">
											<div class="col-10 col-12-small">
												<p>書籍名稱：<input  type="text" id="name" placeholder="商品名稱" size=5 autocomplete="on" name="name" required="true">
												</div></p>
											<div class="col-10 col-12-small">
												<p>作者：<input  type="text" id="writer" placeholder="作者" size=5 autocomplete="on" name="writer" required="true">
												</div></p>
										</div>
										<p>許願後將扣除<strong>book幣一枚</strong></p>
							<ul class="actions">
								<li>
									<div class="display-flex">
										<div id="enter" class="actions">
											<a href="#" class="button style1 large" style="width:200px;">確定</a>
										</div>
									</div>
								</li>
							</ul>
									</form>
								</section>
						</article>

					</div>
				</div>
			</section>
			<!-- Footer -->
			<%- include('./partials/footer.ejs') %>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>