<!DOCTYPE HTML>
<html>
	<head>
		<title>書贏●許願清單</title>
		<%- include('./partials/header.ejs') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header">
				<div class="container">
					
					<!-- Logo -->
						<h1 id="logo"><a href="../wishlist/wishlist.html">書贏●許願清單</a></h1>
						<%- include('./partials/nav.ejs') %>
				
			<!-- Post -->
			<article class="box post">
				<header>
					<h1><strong>書籍資訊：</strong></h1>
				</header>
				<div class="col-6 col-12-medium">
					<section>
						<form method="" action="POST">
							<div class="row gtr-45">
								<div class="col-6 col-12-small">
									<p>書籍名稱：<input  type="text" id="name" placeholder="商品名稱" size=5 autocomplete="on">
									</div></p>
								<div class="col-6 col-12-small">
									<p>作者：<input  type="text" id="writer" placeholder="作者" size=5 autocomplete="on">
									</div></p>
							</div>
							<p>許願後將扣除<strong>book幣一枚</strong></p>
				<ul class="actions">
					<li>
						<div id="enter" class="actions">
							<a href="#" class="button style1 large">確定</a>
						</div>
						<div id="cancel" class="actions">
							<a href="#" class="button style2 large">取消</a>
						</div>
						
						
					</li>
				</ul>
						</form>
					</section>
			</article>
			<!-- Footer -->
			<%- include('./partials/footer.ejs') %>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>