{% extends "base.html" %}
{% load static %}

{% block Wrapper %}


<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<a href="/bonus" class="logo">就是要挑Tea</a>
		</header>

	<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="/bonus">首頁</a></li>
				<li><a href="/bonus/generic">關於我們</a></li>
				<li><a href="/bonus/elements">全品項</a></li>
			</ul>
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/%E5%B0%B1%E6%98%AF%E8%A6%81%E6%8C%91tea-110993528130018/?ref=pages_you_manage" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="https://instagram.com/tiao.tea?utm_medium=copy_link" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</nav>

	<!-- Main -->
		<div id="main">
			<ul class="actions">
				<li><a href="#a" class="button primary">茗品系列</a></li>
				<li><a href="#b" class="button">奶茶系列</a></li>
				<li><a href="#c" class="button primary">鮮果系列</a></li>
				<li><a href="#d" class="button">咀嚼系列</a></li>
			</ul>

			<!-- Post -->
				<section class="post">
					<header class="major">
						<h1>全飲品菜單</h1>
					</header>

					<!-- Table -->
						<h2>菜單</h2>
						<A Name="a"></A>
						<h3>茗品系列</h3>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>挑Tea紅茶</td>
										<td>挑Tea明星商品，茶味柔順不澀，初入口帶熟果香味，後味有芽尖的甜感，具去油解膩效用。</td>
										<td>M30 <br>L35</td>
									</tr>
									<tr>
										<td>蘭香綠茶</td>
										<td>有別於普遍濃郁花香味綠茶，蘭香的香氣雖是淡淡的，卻耐喝雋永，令人回味。</td>
										<td>M25 <br>L30</td>
									</tr>
									<tr>
										<td>桂香烏龍茶</td>
										<td>溫潤甘美的烏龍質地與氤氳動人的桂花香氣，兩著完美結合。添加桂花成分生津健胃，助消化。</td>
										<td>M25 <br>L30</td>
									</tr>
									<tr>
										<td>金萱青茶</td>
										<td>出入口帶獨特奶香，後味有著高山茶的甘甜感，茶香不澀，解膩首選。</td>
										<td>M25 <br>L30</td>
									</tr>
									<tr>
										<td>極品高山茶</td>
										<td>高山雲峰所孕育的好茶，黃褐而純淨的茶湯，醲郁而醇正的茶味，回甘餘味清幽芬芳。</td>
										<td>M25 <br>L30</td>
									</tr>
								</tbody>
								
							</table>
							<ul class="actions fit">
								<li><a href="/bonus#bottom" class="button primary fit">前往點餐</a></li>
							</ul>
						</div>
						<A Name="b"></A>
						<h3>奶茶系列</h3>
						<div class="table-wrapper">
							<table class="alt">
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>特級奶綠</td>
										<td>醇和清爽的「特級綠茶」，溶入香濃醇正的「嚴選奶精」，美味相乘，成就豐富口感。</td>
										<td>M40 <br>L50</td>
									</tr>
									<tr>
										<td>芝麻奶茶</td>
										<td>芝麻、紅茶與奶精的絕妙組合，濃郁純正的芝麻香味伴隨清醇茶味、淡雅奶香，迴盪口中，更能喝到芝麻碎粒，富潤厚實。</td>
										<td>M50 <br>L60</td>
									</tr>
									<tr>
										<td>蜂蜜奶茶</td>
										<td> 醲醇芳香的「錫蘭奶紅」，加入甘甜醇美的「龍眼花蜜」，成就茶香、奶香與蜜香三合一的特級口感。</td>
										<td>M45 <br>L60</td>
									</tr>
									<tr>
										<td>烏龍奶茶</td>
										<td>甘醇渾厚的「烏龍綠茶」佐醇正香濃的「嚴選奶精」，茶味與奶香完美交融整合。</td>
										<td>M40 <br>L50</td>
									</tr>
									<tr>
										<td>錫蘭奶紅</td>
										<td>清雅又厚實的「錫蘭紅茶」，搭配醇正香濃的「嚴選奶精」，共創經典奶茶風味，醲醇芳香。</td>
										<td>M35 <br>L45</td>
									</tr>
								</tbody>
								
							</table>
							<ul class="actions fit">
								<li><a href="/bonus#bottom" class="button fit">前往點餐</a></li>
							</ul>
						</div>
						<A Name="c"></A>
						<h3>鮮果系列</h3>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>桔茶</td>
										<td>金桔原汁調製，恰如其分的酸度，酸中略帶鮮甜、微澀，更有金桔清香，爽口暢快。</td>
										<td>M40 <br>L55</td>
									</tr>
									<tr>
										<td>葡萄柚汁</td>
										<td>現榨新鮮葡萄柚原汁調製，富含維生素C，清新天然的葡萄柚果香，清甜而略帶些微酸苦的舒適口感。</td>
										<td>M40 <br>L55</td>
									</tr>
									<tr>
										<td>金桔檸檬</td>
										<td>現榨新鮮檸檬原汁結合金桔原汁，金桔與檸檬的果香、酸度與澀感完美交融，入口生津潤喉。</td>
										<td>M40 <br>L55</td>
									</tr>
									<tr>
										<td>蘆薈蜂蜜檸檬</td>
										<td>現榨新鮮檸檬原汁，混搭甘甜的龍眼花蜜，再加入柔嫩爽脆的蘆薈，清爽微酸的口感挑逗味蕾，令人回味再三。</td>
										<td>M60 <br>L70</td>
									</tr>
									<tr>
										<td>鳳梨紅茶</td>
										<td>清雅厚實的錫蘭紅茶，搭配香甜可口的南投產金鑽鳳梨（40%） 與土鳳梨（60%） ，順口對味，甜美豐潤沁人心脾。</td>
										<td>M60</td>
									</tr>
								</tbody>
								
							</table>
							<ul class="actions fit">
								<li><a href="/bonus#bottom" class="button primary fit">前往點餐</a></li>
							</ul>
						</div>
						<A Name="d"></A>
						<h3>咀嚼系列</h3>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>珍珠/波霸奶茶</td>
										<td>醲醇芳香的「錫蘭奶紅」，加入滑溜Q彈、綿密紮實、圓潤飽滿、亮澤水嫩的「珍珠」、「波霸」，柔順豐厚口感於咀嚼之間更上一層樓。</td>
										<td>M40 <br>L50</td>
									</tr>
									<tr>
										<td>暗黑水晶奶茶</td>
										<td>醲醇芳香的「錫蘭奶紅」，加入爽脆Q彈、細密滑順的咖啡凍，而淡雅咖啡香盡在咀嚼之間。</td>
										<td>M45 <br>L60</td>
									</tr>
									<tr>
										<td>椰果奶茶</td>
										<td>醲醇芳香的「錫蘭奶紅」，加入香甜而略帶酸的椰果，增添Q彈、爽脆的咀嚼口感</td>
										<td>M40 <br>L50</td>
									</tr>
									<tr>
										<td>蘆薈優多綠茶</td>
										<td>清爽醇和的「特級綠茶」，溶入酸甜香濃的「養樂多」，再加入柔嫩爽脆的蘆薈，毫無違和，咀嚼之間美味相乘。</td>
										<td>M50 <br>L60</td>
									</tr>
									<tr>
										<td>紅茶三兄弟</td>
										<td>清雅厚實的「錫蘭紅茶」，加入綿密彈牙的珍珠、軟Q細密的布丁、香甜濃郁的香草冰淇淋，多重混搭而毫無違和，多層次的豐富口感令人食指大動。</td>
										<td>L65</td>
									</tr>
								</tbody>
								
							</table>
							<ul class="actions fit">
								<li><a href="/bonus#bottom" class="button fit">前往點餐</a></li>
							</ul>
						</div>

						<hr />

					</code></pre>

				</section>

				</div>
				<A Name="e"></A>
</div>


{% endblock %}