{% extends "base.html" %}
{% load static %}

{% block Wrapper %}
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<a href="/bonus" class="logo">就是要挑Tea</a>
		</header>

	<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="/bonus">首頁</a></li>
				<li><a href="/bonus/generic">關於我們</a></li>
				<li><a href="/bonus/elements">全品項</a></li>
			</ul>
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/%E5%B0%B1%E6%98%AF%E8%A6%81%E6%8C%91tea-110993528130018/?ref=pages_you_manage" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="https://instagram.com/tiao.tea?utm_medium=copy_link" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</nav>

	<!-- Main -->
		<div id="main">

			<!-- Post -->
				<section class="post">
					<header class="major">
						<span class="date">BY FCUIECS STUDENT</span>
						<h1>品牌理念<br />
						</h1>
						<p>挑Tea秉持「誠信」、「用心」、「創新」、「惜福」之精神，力求務實經營、嚴謹管理、穩健成長、永續發展，不斷精進創發，歷久彌新，深耕台灣，弘揚台灣茶飲文化。</p>
					</header>
					<div class="image main"><img src="{% static 'images/查YA.jpg' %}" alt="" /></div>
					<p>一股茶香慢慢從鼻端沁到咽喉，四肢百骸是說不出的輕鬆快慰，茶杯中浮晃著一抹淡碧，幾縷輕煙散著溫熱，在又苦又甜的茶裡，把茶冷眼看紅塵，借茶靜心度春秋</p>
					<p><h3>挑Tea的茶滿足挑剔的你</h3></p>
				</section>

		</div>
			<A Name="e"></A>

{% endblock %}