{% extends "base.html" %}
{% load static %}

{% block Wrapper %}
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<a href="/bonus" class="logo">就是要挑Tea</a>
		</header>

	<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="/bonus">首頁</a></li>
				<li><a href="/bonus/generic">關於我們</a></li>
				<li><a href="/bonus/elements">全品項</a></li>
			</ul>
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/%E5%B0%B1%E6%98%AF%E8%A6%81%E6%8C%91tea-110993528130018/?ref=pages_you_manage" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="https://instagram.com/tiao.tea?utm_medium=copy_link" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</nav>

	<!-- Main -->
		<div id="main">
            <h1 style="text-align:center;">Ordering Success</h1>

		</div>
{% endblock %}